html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;



}

#logo-img {
  width: 12%;
  padding: 20px;
}

.navbar {
  padding: 0px !important;
}

@media (max-width: 768px) {
  .navbar #logo-img {
    width: 45%;
    padding: 20px;
  }
}

.nav-item {
  padding: 5px 10px;
  position: relative;
}

.nav-item a {
  color: white;
  font-family: "Gilda Display", serif;
  text-decoration: none;
  position: relative;
}

.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: orange;
  transition: width 0.3s ease-in-out;
}

.nav-item a:hover {
  color: orange;
}

.nav-item a:hover::after {
  width: 100%;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.nav-item a:focus,
.nav-item a:active {
  color: #ff9f00;
}



.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0;
  text-align: center;

}


.dropdown-menu {
  background-color: #0f0429 !important;
  border: 1px solid white;
  text-align: center;
  min-width: 200px;

}


.dropdown-item {
  color: white !important;
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: orange !important;
  color: black !important;
}


.nav-item.dropdown .nav-link::after {
  content: none !important;
}


#banner {
  background-image: url("../Assets/images/THC-0580\ \(1\)\ 1.png");
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  #main-heading {

    font-size: 52px !important;
    padding: 0 10px;
    width: 100%;

  }

}

.col-12 {
  font-family: "Gilda Display", serif;
  color: white;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

#third-sec {
  background-color: #ffffff;
  padding: 100px 0;
}

.left-text {
  letter-spacing: 1px;
  font-family: "Gilda Display", serif;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

@media (max-width: 480px) {
  #kimlist {

    padding: 0% !important;

  }

}

#right-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bi-check-circle {
  letter-spacing: 9px;
  color: #0f0429;
  ;
  font-size: 20px;
  margin-right: 10px;
}

#text {
  background-color: #0f0429;
  color: #fff;
}

#main-text {
  font-family: "Gilda Display", serif;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-style: normal;
  line-height: 1.7;
  text-align: justify;
}

.custom-hr {
  width: 29%;
  height: 3px;
  background-color: #fff;
  border: none;
  margin: 20px auto;
}

#address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 65px;
}

@media (max-width: 768px) {
  .center-frame {
    padding-top: 15px;
  }
}

@media (max-width: 480px) {
  .center-frame {
    padding-top: 20px !important;
  }
}

#Market {
  background-color: #f3f4f7;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
}

#Market-2 {
  background-color: #f3f4f7;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
}

.accordion-body iframe {
  width: 100%;
  max-width: 540px;
  height: 480px;
}

#Markett {
  background-color: #ffffff;
  border-radius: 170px 20px;
  padding: 70px;
}

/* iframes */
@media (max-width: 768px) {
  #Markett {
    border-radius: 80px 15px;
    padding: 50px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  #Markett {
    border-radius: 50px;
    padding: 20px;
  }
}



#Market-3 {
  background-color: #a3c6d2;
  border-radius: 10px;
  padding: 40px;
  width: 60%;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}